<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>shape-3d</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="index-body">
	<h1>shape-3d</h1>
	{{#ids}}
	<a href="{{ id }}" class="thumb" style="background-image: url('images/{{ id }}.jpg');"></a>
	{{/ids}}
</body>
</html>
